@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    min-height: 100vh;
    padding: 20px;
}

.btn {
    display: flex;
    padding: 10px 20px;
    background-color: #165497;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: #007bff;
}

input[type="file"] {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 80vw;
}

.buttons {
    display: flex;
    max-width: 512px;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}

img, canvas {
    width: 255px;
}

.box-brilho {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.box-brilho input {
    border-radius: 5px;
    outline: none;
    padding: 5px;
    height: 36px;
    width: 100px;
}

.aritmetica {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.aritmetica input {
    width: 100px;
}

.aritmetica button,
.modificacoes button {
    width: 140px;
    height: 36px;
}

.modificacoes {
    display: flex;
    gap: 20px;
}

.modificacoes label {
    width: 65px;
}

.logicas {
    display: flex;
    gap: 20px;
}

.logicas button {
    width: 100px;
}

.box {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.box button {
    height: 36px;
    width: 140px;
}

.realce {
    display: flex;
    gap: 20px;
}

.realce button {
    width: 150px;
    height: 36px;
}

.bordas {
    display: flex;
    gap: 20px;
}

.morfologicas {
    display: flex;
    gap: 30px;
}

#graficos {
    display: flex;
}

#graficos div{
    width: 600px;
}

.grafico canvas {
    width: 100px;
}

.resultado {
    display: flex;
    gap: 50px;
}

.resultado button {
    width: 100%;
}